<!DOCTYPE html>
<html>
<head>
  <title>RedditOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.nil? %>
  <%= button_to "Log In", new_session_url, method: :get%>
  <%= button_to "Sign Up", new_user_url, method: :get%>
<% else %>
  <%= button_to "Log Out", session_url, method: :delete %>
<% end %>

<%= link_to "Gage-it Home", subs_url%>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>
<%= yield %>

</body>
</html>
